.logo{
	width:100%;
	background: url("../images/altos_logo.svg") no-repeat;
	padding-bottom: calc(100% * 3 / 4);
}

.no-svg .logo{
	background: url("../images/altos_logo.png");
	width: 117px;
	height: 43px;
}

.mobileDropdown {
  background: #333333;
  border: 0;
  border-radius: 6px;
  border-top: 3px solid #666666;
  cursor: pointer;
  padding: 6px 5px 8px;
}
.mobileDropdown:hover {
  background: #3d3d3d;
}
.mobileDropdown:active {
  background: #111111;
}
.mobileDropdown span {
  background: #ffffff;
  border-radius: 10px;
  display: block;
  height: 4px;
  margin: 0 0 5px;
  width: 30px;
}