/*Mobile first css*/

body{
	overflow-x:hidden;
}

.page-wrap {
    width: 280px;
    margin: 0 auto;
    z-index: 0;
}

header{
	width:100%;
	height: 82px;
}

.bag_text{
	display: none;
}

.account{
	display: none;
}

.logo{
	width:145px;
	height:60px;
	background: url("../images/altos_logo.svg") no-repeat;
	float:left;
}

/* Fallback for browsers that don't support svg. */
.no-svg .logo{
	background: url("../images/altos_logo.png") no-repeat;
	width: 117px;
	height: 43px;
}

.bag{
	background: url("../images/bag.png");
	width: 32px;
	height: 32px;
	float:left;
	margin:22px 10px 0 45px;
}

.view{
	display: none;
}

.mobileDropdown {
  height:50px;
  background: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  padding: 6px 2px 8px 2px;
  float:left;
  margin:20px 0 0 5px;
}

.mobileDropdown:hover {
  background: #3d3d3d;
  border:none;
}

.mobileDropdown:active {
  background: #111111;
  border:none;
}

.mobileDropdown span {
  background: #333;
  border-radius: 10px;
  display: block;
  height: 4px;
  margin: 0 0 5px;
  width: 30px;
}

.mobileDropdown:hover > span, .mobileDropdown:active > span {
	background: #fff;
}

i.fa.search2{
	display:none;
}

.real{
	background: url("../images/real_mts.png");
	width: 280px;
	height: 175px;
}

.blue{
	background: url("../images/blue_mts.png");
	width: 280px;
	height: 175px;
	margin-right:0;
	z-index: -1;
}

#two_bars{
	display: none;			
}

/*Mobile menu*/

div.search{
	display: none;
	background: #000;
	width:240px;
	height: 100px;
	z-index: 1;
}

div#close > i{
	display:none;
	margin: 0 0 0 240px;
	font-size: 35px;
	cursor:pointer;
	z-index: -1;
}

.underline{
	background: #000;
	border-bottom:1px solid #fff;
	margin:0 auto;
	width:80%;
	height:60px;
}

h3.search_label{
	display: block;
	position: absolute;
	top: 5px;
	color:#fff;
	background: #000;
	font: 14px arial sans-serif;
	text-transform: capitalize;
}


.fa.fa-search.search1{
	display: block;
	position: absolute;
	top:10px;
	left: 270px;
	font-size: 20px;
	color:white;
	background:#000;
}

nav{
	display:none;
	width: 272px;
	margin:25px 0 0 0;
	float:left;
	background: #000;
	color: #fff;
	z-index: 1;
}

nav ul{
	list-style-type: none;
	padding:0;
	text-transform: capitalize;
	width:80%;
	margin:0 auto;
}

nav > ul > li > a, nav > ul > li > ul > li > a{
	font:16px arial, sans-serif;
	line-height: 2.5;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}

.arrow-down {
	display: inline-block;
	width: 0;
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 11px solid #fff;
	margin-left:102px;
}

nav > ul > li > a{
	text-transform: uppercase;
}

nav > ul > li > ul > li > a{
	text-transform: capitalize;
}

nav > ul > li > ul{
	display:none;
	background-color: #999999;
	margin: 0 0 0 -27px;
	padding: 0 24px 0 30px;
	width:100%;
	z-index: 2;
}

.name{
	font: 18px arial, sans-serif;
	text-transform: capitalize;
	width: 180px;
	height: 21px;
	margin-right:0px;
	padding:0;
	z-index: -1;
}

@media (min-width: 700px){

	html { 
	 	background: url("../images/real_full.png") no-repeat center top fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	div.altos_white{
		width:50%;
		height:50px;
	}

	.logo{
		display:none;
	}

	.bag{
		display: none;
	}

	.corner_links{
		display:block;
		float:right;
		font:14px arial, sans-serif;
		width:50%;
		height:50px;
	}

	.corner_links a{
		color: #fff;
		text-decoration: none;
	}

	.corner_links > h3{
		font-style: normal;
		font-weight: 400;
	}

	.search{
		display:none;
	}

	i.fa.search2{
		float:right;
		display:inline-block;
		margin: 0 35px 0 0;
		font-size: 20px;
	}

	.account{
		float: right;
		display:inline-block;
		text-transform: capitalize;
		margin: 0 25px 0 0;
	}

	.bag_text{
		float:right;
		display: inline-block;
		text-transform: capitalize;
		margin-top: 0;
	}

	.mobileDropdown{
		display: none;
	}

	/* Navigation */

	nav{
		display:block;
		background: none;
		float:right;
		margin:0;
		width:100%;
	}

	nav > ul{
		width: 100%;
		text-align:right;
	}

	nav > ul > li{
		display: inline;
		margin:0 0 0 35px;
	}

	nav > ul > li > a:active{
		border-bottom: 1px solid #fff;
	}

	body.v a.v, .menu_under{
		border-bottom: 1px solid #fff;
	}

	nav > ul > li > ul{
		background: #fff;
		margin:0;
		text-align:left;
	}

	nav > ul > li > ul > li > a{
		color:#000;
	}

	nav > ul > li {
		position: relative;
		z-index: 100;
	}

	.close{
		display:none;
	}

	.search{
		display:none;
	}

	.sub_menu{
		z-index:200;
		position:absolute;
		left:0;
		top: 40px;
		width:180px;
	}

	.real{
		display: none;
	}

	.blue{
		display: none;
	}

	.page-wrap{
		width:75%;
		margin:0 auto;
	}

	.altos_white{
		display:block;
		float:left;
		background: url("../images/altos_white.png") no-repeat;
		width: 122px;
		height: 45px;
	}

	.search_color{
		display:none;
		color:#fff;
	}

	header>i.search_color{
		display:none;
		color:#fff;
	}

	#blue_name{
		display: none;
		height:52px;
		color:#fff;
		text-transform: capitalize;
		font:52px arial, sans-serif;
		width: 	100%;
		margin:275px 0 0 0;
	}

	#real_name{
		display: block;
		height:52px;
		color:#fff;
		text-transform: capitalize;
		font:52px arial, sans-serif;
		width: 	100%;
		margin:275px 0 0 0;
	}

	.view{
		display:block;
		border:2px solid #fff;
		width:170px;
		height:50px;
		text-align: center;
		margin:30px 0 0 0;
	}

	.highlight{
		background: #fff;
	}

	div.view.highlight a{
		color:#000;
	}

	.view a{
		display: block;
		color:#fff;
		text-decoration: none;
		font:14px arial, sans-serif;
		text-transform: capitalize;
		line-height:50px;
	}

	#two_bars{
		width:100%;
		display: block;
	}
	
	#bar1, #bar2{
		display:block;
		float:left;
		width: 68px;	
		height: 8px;
		margin:80px 8px 0 0;
		border:1px solid #fff;	
	}

	#bar1{
		background:#fff;
	}
}




